[Desktop Entry]
Type=Application
Version=1.0
Name=Install GXDE
GenericName=Calamares Installer
Exec=install-gxde
Comment=Calamares — Installer for GXDE Live
Keywords=calamares;system;install;GXDE;installer;gxde
Icon=install-gxde
Terminal=false
Categories=Qt;System;
StartupWMClass=calamares
StartupNotify=True
